
@{
    ViewBag.Title = "About";
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href='@Url.Action("Index","Default")'>Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Về chúng tôi</strong></div>
        </div>
    </div>
</div>

<div class="site-section border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="~/asset/images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                        <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a>

                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Tại sao SHOPPER xuất hiện?</h2>
                </div>
                <p>
                    Chào mừng bạn đến với SHOPPER!
                    Chúng tôi bắt đầu từ những sinh viên có chung sở thích về thời trang.
                    Chúng tôi nhận ra nhu cầu về thời trang đang ngày càng đa dạng và phát triễn nhanh chóng.
                    Thời trang không phân biệt tuổi tác, giới tính, tôn giáo, chủng tộc... tất cả mọi người đều có thể 
                     tự do mặc những trang phục mà mình yêu thích. Thông qua thời trang, mọi người có thể thể hiện phong cách,
                    cá tính riêng của mình, thu hút ánh nhìn từ người khác. Vì vậy, chúng tôi thành lập SHOPPER. Chúng tôi muốn
                    mang thời trang của mình đến với mọi người thông qua các bộ trang phục từ SHOPPER.
                </p>
                <p>
                    Chúng tôi rất vui khi nhận được ý kiến đóng góp của bạn dành cho SHOPPPER.
                    Chúng tôi sẽ luôn cải thiện và phát triễn để mang lại trải nghiệm tốt cho khách hàng.
                </p>
                <p>
                    Chúng tôi chân thành cảm ơn bạn đã quan tâm và ủng hộ SHOPPER!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="site-section border-bottom" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>SHOPPER's Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/asset/images/person_4.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Khoa Võ</h3>
                            <p class="block-38-subheading">CEO/Co-Founder</p>
                        </div>
                        <div class="block-38-body">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/asset/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Ngân Lê</h3>
                            <p class="block-38-subheading">Sales Manager</p>
                        </div>
                        <div class="block-38-body">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/asset/images/person_3.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Linh Trần</h3>
                            <p class="block-38-subheading">Marketing</p>
                        </div>
                        <div class="block-38-body">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Miễn phí vận chuyển</h2>
                    <p>Miễn phí vận chuyển dù bạn ở bất cứ đâu trên đất nước</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Miễn phí đổi trả</h2>
                    <p>Miễn phí đổi trả nếu sản phẩm bị lỗi do nhà sản xuất</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Hỗ trợ khách hàng</h2>
                    <p>Mọi thắc mắc, khiếu nại xin hãy liên hệ đến chúng tôi</p>
                </div>
            </div>
        </div>
    </div>
</div>

